<!-- * * * * * * * * * * * * *Ale Alejandre * * * * * * * * * * * * * * * * * * -->

<!-- Componnete Boostrap-->
<!--div class="card">
  <div class="card-header">
  <h1>Bienvenido: {{usuario.nombre}}   {{usuario.apellido}}</h1>
  <h2>Nacionalidad:{{usuario.nacionalidad}}</h2>
</div>
 
<div #div_body class="card-body">
  <input type="text" [(ngModel)] = "usuario.nombre" >
  <button class="btn btn-primary ml-3" (click) = "imprimirUsuario()" >Imprmir nombre del usaurio</button>
  
 </div>
  <div *ngIf="usuario.nombre =='ale'" class="card" class = "card-footer">
    {{usuario | json}}
  </div>
  <ul>
    <li  *ngFor = "let rol of lista_roles">
      El rol es: {{rol}}
       
    </li>
  </ul>

</div>
-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
<button class="btn btn-success" (click)="mostrarModalNuevoUsuario(modalNuevoUsuario)">Abrir modal Nuevo Usuario</button>
<!--<app-crear-usuario (setUsuario)="recibirUsuario($event)"></app-crear-usuario>-->
<app-listar-usuario [listaUsuarios]="listaUsuarios" ></app-listar-usuario>

<ng-template #modalNuevoUsuario let-c="close" let-d="dismiss">
  <div class="modal-header d-flex align-items-center">
    <span class="h5 m-0">
          <i class="fa fa-filter mr-1"></i>
          Modal Registrar usuario
    </span>
    <button class="close d-flex text-dark m-0 p-0" (click)="d('Cross click')">
       Cerrar modal
  </button>
</div>

<div class="modal-body">
        <app-crear-usuario (setUsuario)="recibirUsuario($event)"></app-crear-usuario>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="c('Close')">
          Cerrar
        </button>
      </div>
  

</ng-template>


