<h3>Lista de Usuarios</h3>
<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Apellido Edad</th>
        <th>Activo</th>
        <th>Fecha de registro</th>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.appPaterno}}</td>
            <td>{{usuario.appMaterno}}</td>
            <td>{{usuario.edad}}</td>
            <td>{{usuario.activo}}</td>
            <td>{{usuario.feReg | date }}</td>            
        </tr>
        <td></td>

    </tbody>
</table>